@model ChangePasswordRequestDTO

<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="/Home" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
            <span></span> Thông tin tài khoản
        </div>
    </div>
</div>
<div class="page-content pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dashboard-menu">
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" href="User/Profile">
                                        <i class="fi-rs-user mr-10"></i>Thông tin
                                        tài khoản
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fi-rs-settings-sliders mr-10"></i>Thành tích
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab"
                                        aria-controls="orders" aria-selected="false">
                                        <i class="fi-rs-shopping-bag mr-10"></i>Đơn hàng
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fi-rs-shopping-cart-check mr-10"></i>Báo cáo
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fi-rs-marker mr-10"></i>Lịch sử đổi thưởng
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fi-rs-marker mr-10"></i>Lịch sử Tham gia
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/User/ChangePassword">
                                        <i class="fi-rs-marker mr-10"></i>Thay đổi mật khẩu
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Auth/Logout">
                                        <i class="fi-rs-sign-out mr-10"></i>Đăng
                                        xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content account dashboard-content pl-50">
                            <div class="tab-pane fade active show" id="track-orders" role="tabpanel"
                                aria-labelledby="track-orders-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="mb-0">Đổi mật khẩu</h3>
                                    </div>
                                    <div class="card-body contact-from-area">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <form class="contact-form-style mt-30 mb-50" asp-controller="User"
                                                    asp-action="ChangePassword" method="post">
                                                    <input type="hidden" asp-for="UserID" class="form-control" />
                                                    <div class="input-style mb-20">
                                                        <label>Địa chỉ Email</label>
                                                        <input asp-for="Email" placeholder="Email" />
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                    <div class="input-style mb-20">
                                                        <label>Mật khẩu cũ</label>
                                                        <input asp-for="OldPassword" placeholder="Mật khẩu cũ"
                                                            type="password" />
                                                        <span asp-validation-for="OldPassword"
                                                            class="text-danger"></span>
                                                    </div>
                                                    <div class="input-style mb-20">
                                                        <label>Mật khẩu mới</label>
                                                        <input asp-for="NewPassword" placeholder="Mật khẩu mới"
                                                            type="password" />
                                                        <span asp-validation-for="NewPassword"
                                                            class="text-danger"></span>
                                                    </div>
                                                    <button class="submit submit-auto-width" type="submit">Thay
                                                        đổi</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}