@model UserDTO

<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="/Home" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
            <span></span> Thông tin tài khoản
        </div>
    </div>
</div>
<div class="page-content pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dashboard-menu">
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard"
                                        role="tab" aria-controls="dashboard" aria-selected="false"><i
                                            class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab"
                                        aria-controls="orders" aria-selected="false"><i
                                            class="fi-rs-shopping-bag mr-10"></i>Đơn hàng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders"
                                        role="tab" aria-controls="track-orders" aria-selected="false"><i
                                            class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab"
                                        aria-controls="address" aria-selected="true"><i
                                            class="fi-rs-marker mr-10"></i>My Address</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" id="account-detail-tab" data-bs-toggle="tab" href="#"
                                        role="tab" aria-controls="account-detail" aria-selected="true"><i
                                            class="fi-rs-user mr-10"></i>Thông tin tài khoản</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Auth/Logout"><i class="fi-rs-sign-out mr-10"></i>Đăng
                                        xuất</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content account dashboard-content pl-50">
                            <div class="tab-pane fade active show" id="account-detail" role="tabpanel"
                                aria-labelledby="account-detail-tab">
                                <div class="card">
                                    <div class="card-header" style="padding:0px">
                                        <h5>Thông tin tài khoản</h5>
                                    </div>
                                    <div class="card-body">
                                        <img src="@Model.Avatar" alt="" class="avatar-profile" />
                                        <form method="post">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label>Họ và tên</label>
                                                    <input asp-for="FullName" class="form-control" readonly />
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Địa chỉ Email: </label>
                                                    <input asp-for="Email" class="form-control" readonly />
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Địa chỉ: </label>
                                                    <input asp-for="Address" class="form-control" readonly />
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Số điện thoại: </label>
                                                    <input asp-for="PhoneNumber" class="form-control" readonly />
                                                </div>
                                                <div class="col-md-12">
                                                    <a asp-controller="User" asp-action="UpdateProfile"
                                                        class="btn btn-fill-out submit font-weight-bold" name="submit"
                                                        value="Submit">Cập nhật hồ sơ</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}