<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>GreenCorner Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/admin/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <script src="~/admin/js/vendors/color-modes.js"></script>
    <link href="~/admin/css/main.css?v=6.1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="~/Admin" class="brand-wrap">
                <img src="~/imgs/theme/logo.png" class="logo" alt="Green Corner" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="index.html">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Sự kiện</span>
                    </a>
                    <div class="submenu">
                        <a asp-controller="Event" asp-action="GetAllEvent">Toàn bộ sự kiện</a>
                        <a asp-controller="TrashEvent" asp-action="Index">Báo cáo rác</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Tài khoản</span>
                    </a>
                    <div class="submenu">
                        <a asp-controller="Admin" asp-action="UserList">Tài khoản người dùng</a>
                        <a asp-controller="Auth" asp-action="GetStaffList">Tài khoản nhân viên</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" asp-controller="Order" asp-action="ListOrder">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Đơn hàng</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" asp-controller="SaleStaff" asp-action="ProductList">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Sản phẩm</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Hoạt động người dùng</span>
                    </a>
                    <div class="submenu">
                        <a href="/EventStaff/ViewUsersWithParticipation">Người dùng đã tham gia</a>
                        <a href="/EventStaff/ViewPointsRewardHistory">Lịch sử điểm thưởng</a>
                        <a href="/RewardHistory/ViewUsersRedeemedReward">Người dùng đã đổi thưởng</a>
                        <a href="/RewardPoint">Điểm thưởng của người dùng</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Quản lý phản hồi</span>
                    </a>
                    <div class="submenu">
                        <a href="/BlogPost/ViewReports">Báo cáo</a>
                        <a href="/BlogPost/ViewFeedbacks">Phản hồi</a>
                    </div>
                </li>

                <li class="menu-item">
                    <a class="menu-link" asp-controller="EventStaff" asp-action="ViewPendingPosts">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Bài viết</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" asp-controller="Admin" asp-action="LogStaff">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Lịch sử hoạt động nhân viên</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Quản lý đăng ký</span>
                    </a>
                    <div class="submenu">
                        <a href="/EventStaff/ViewVolunteerRegistrations">Đăng ký tình nguyện viên</a>
                        <a href="/EventStaff/ViewTeamLeaderRegistrations">Đăng ký nhóm trưởng</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-card_giftcard"></i>
                        <span class="text">Quản lý Voucher</span>
                    </a>
                    <div class="submenu">
                        <a href="/Voucher/Index">Danh sách Voucher</a>
                        <a href="/Voucher/Create">Thêm mới</a>
                    </div>
                </li>

            </ul>
            <hr />
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                        class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="~/admin/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            @RenderBody()
            <partial name="_Notification" />
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; GreenCorner 2025.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="~/admin/js/vendors/jquery-3.7.1.min.js"></script>
    <script src="~/admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/admin/js/vendors/select2.min.js"></script>
    <script src="~/admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="~/admin/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="~/admin/js/vendors/chart.js"></script>
    <script src="~/admin/js/main.js?v=6.1" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            const userId = '@User.FindFirst("sub")?.Value';
            if (!userId) return;
            const notificationConnection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:7006/notificationhub?userId=" + userId)
                .configureLogging(signalR.LogLevel.Information)
                .build();

            async function startNotificationConnection() {
                try {
                    await notificationConnection.start();
                    console.log("SignalR đã kết nối thành công.");

                } catch (err) {
                    console.error("Kết nối SignalR thất bại: ", err);
                    setTimeout(startNotificationConnection, 5000);
                }
            }

            startNotificationConnection();
            notificationConnection.onclose(async () => {
                console.log("Mất kết nối SignalR. Đang thử kết nối lại...");
                await startNotificationConnection();
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>