<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Green Corner</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/imgs/theme/favicon.svg" asp-append-version="true" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/css/plugins/animate.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css?v=6.1" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/chatbox.css" asp-append-version="true" />
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="mobile-promotion">
            <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/Home"><img src="~/imgs/theme/logo.png" alt="logo" /></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2" style="
                             align-items: center;
                             display: flex;
                             justify-content: center;">
                            <form action="#" method="get" style="max-width: 500px;">
                                <input type="text" placeholder="Tìm kiếm sản phầm..." id="search-input-realtime"
                                    style="max-width: 500px;" />
                                <ul id="search-results" class="dropdown-menu w-100">
                                </ul>
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="location">
                                    <a href="/TrashEvent/ReportTrashEvent"
                                        class="btn btn-sm font-weight-bold text-white mr-10 border-radius-5 btn-shadow-brand hover-up"><i
                                            class="fi-rs-marker mr-5"></i>Báo cáo</a>
                                </div>
                            </div>
                            <div class="header-action-icon-2" style="margin: 8px;">
                                <a class="nav-link position-relative" href="#" id="notificationDropdown"
                                    data-bs-toggle="dropdown">
                                    <img class="svgInject" alt="Nest" src="~/imgs/theme/icons/icon-bell.svg"
                                        style="width: 25px;" />
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                        id="notificationCount" style="display: none;">0</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end notification-dropdown"
                                    aria-labelledby="notificationDropdown" id="notificationContainer">
                                    <div class="notification-header">
                                        <h6 class="m-0">Thông báo</h6>
                                    </div>

                                    <div class="notification-list-wrapper" id="notificationListWrapper">
                                        <ul class="list-unstyled m-0" id="notificationList">
                                        </ul>
                                    </div>

                                    <div class="notification-footer">
                                        <a href="/User/Notifications" class="text-center d-block">Xem tất cả thông
                                            báo</a>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2" style="margin: 3px;">
                                <a href="/WishList">
                                    <img class="svgInject" alt="Nest" src="~/imgs/theme/icons/icon-heart.svg" />
                                </a>
                                <a href="/WishList"><span class="lable">Yêu thích</span></a>
                            </div>
                            <div class="header-action-icon-2" style="margin: 3px;">
                                <a class="mini-cart-icon" href="/Cart">
                                    <img alt="Nest" src="~/imgs/theme/icons/icon-cart.svg" />
                                </a>
                                <a href="/Cart"><span class="lable">Giỏ hàng</span></a>
                            </div>
                            <div class="header-action-icon-2" style="margin: 3px;">
                                <a href="/User/Profile">
                                    <img class="svgInject" alt="Nest" src="~/imgs/theme/icons/icon-user.svg" />
                                </a>
                                <a href="/User/Profile"><span class="lable ml-0">Tài khoản</span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                    <ul>
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <li>
                                                <a href="/Auth/Login">
                                                    <i class="fi fi-rs-user mr-10"></i>Đăng nhập
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Auth/Register">
                                                    <i class="fi fi-rs-location-alt mr-10"></i>Đăng ký
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="/User/Profile"><i class="fi fi-rs-user mr-10"></i>My
                                                    Account</a>
                                            </li>
                                            <li>
                                                <a href="/Order/History"><i class="fi fi-rs-location-alt mr-10"></i>Đơn hàng
                                                    của tôi</a>
                                            </li>
                                            <li>
                                                <a href="page-account.html"><i class="fi fi-rs-label mr-10"></i>My
                                                    Voucher</a>
                                            </li>
                                            <li>
                                                <a href="/WishList"><i class="fi fi-rs-heart mr-10"></i>Yêu thích</a>
                                            </li>
                                            <li>
                                                <a href="page-account.html"><i
                                                        class="fi fi-rs-settings-sliders mr-10"></i>Setting</a>
                                            </li>
                                            <li>
                                                <a href="/Auth/Logout"><i class="fi fi-rs-sign-out mr-10"></i>Đăng xuất</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="~/imgs/theme/logo.png" alt="logo" /></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categories-button-active" href="#">
                                <span class="fi-rs-apps"></span> <span class="et">Danh</span> mục sản phẩm
                                <i class="fi-rs-angle-down"></i>
                            </a>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                            <nav>
                                <ul>
                                    <li class="hot-deals"><img src="~/imgs/theme/icons/icon-hot.svg"
                                            alt="hot deals" /><a href="shop-grid-right.html">Deals</a></li>
                                    <li>
                                        <a class="active" href="/Home">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="page-about.html">Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a href="/Product">Cửa hàng</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Event" asp-action="Index">Sự kiện</a>
                                    </li>
                                    <li class="position-static">
                                        <a asp-controller="Reward" asp-action="Index">Đổi thưởng</a>
                                    </li>
                                    <li>
                                        <a asp-controller="BlogPost" asp-action="Index">Blog</a>
                                    </li>
                                    <li>
                                        <a href="page-contact.html">Liên hệ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-flex">
                        <img src="~/imgs/theme/icons/icon-headphone.svg" alt="hotline" />
                        <p>0945-583-554<span>24/7 Chăm sóc khách hàng</span></p>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Nest" src="~/imgs/theme/icons/icon-heart.svg" />
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="#">
                                    <img alt="Nest" src="~/imgs/theme/icons/icon-cart.svg" />
                                    <span class="pro-count white">2</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Nest"
                                                        src="~/imgs/shop/thumbnail-3.jpg" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Nest"
                                                        src="~/imgs/shop/thumbnail-4.jpg" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2025</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="~/imgs/theme/logo.png" alt="logo" /></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Tìm kiếm sản phẩm…" />
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="menu-item-has-children">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="shop-grid-right.html">shop</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Vendors</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Mega menu</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog-category-fullwidth.html">Blog</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Pages</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap">
                    <div class="single-mobile-header-info">
                        <a href="page-contact.html"><i class="fi-rs-marker"></i> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login.html"><i class="fi-rs-user"></i>Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon mb-50">
                    <h6 class="mb-15">Follow Us</h6>
                    <a href="#"><img src="~/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                    <a href="#"><img src="~/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                    <a href="#"><img src="~/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                    <a href="#"><img src="~/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                    <a href="#"><img src="~/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
                </div>
                <div class="site-copyright">Copyright 2025 © GreenConer.</div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="main pages">
            @RenderBody()
            <partial name="_Notification" />
        </main>
        <div id="chatbot-container">
            <div id="chat-window">
                <div class="chat-header">
                    <div class="chat-header-info">
                        <img src="/imgs/theme/bot-avatar.jpg" alt="Bot Avatar" class="avatar">
                        <span>Trợ lý ảo</span>
                    </div>
                    <button class="close-btn" onclick="toggleChat()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFFFFF"
                            viewBox="0 0 16 16">
                            <path
                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                        </svg>
                    </button>
                </div>

                <div id="chat-body">
                    <div class="message-container bot-message">
                        <div class="message-bubble">
                            Xin chào! Tôi có thể giúp gì cho bạn về sản phẩm hoặc sự kiện của chúng tôi?
                        </div>
                        <img src="/imgs/theme/bot-avatar.jpg" alt="Bot Avatar" class="avatar">
                    </div>
                </div>

                <div class="chat-footer">
                    <input type="text" id="chat-input" placeholder="Nhập tin nhắn..." onkeydown="handleEnter(event)">
                    <button id="send-btn" onclick="sendMessage()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFFFFF"
                            viewBox="0 0 16 16">
                            <path
                                d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                        </svg>
                    </button>
                </div>
            </div>

            <button id="chat-toggle-btn" onclick="toggleChat()">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.504 7-5.5S11.996 3 8 3 1 5.504 1 8.5c0 .642.07 1.254.196 1.822a1 1 0 0 1 .482.774zM8.5 5.5a.5.5 0 0 0 0 1h.5a.5.5 0 0 0 0-1h-.5zm-2 0a.5.5 0 0 0 0 1h.5a.5.5 0 0 0 0-1h-.5zm4 0a.5.5 0 0 0 0 1h.5a.5.5 0 0 0 0-1h-.5z" />
                </svg>
            </button>
        </div>
    </div>
    <footer class="main">
        <section class="featured section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
                            data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="~/imgs/theme/icons/icon-1.svg" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Giá tốt nhất</h3>
                                <p>Ưu đãi cho đơn hàng từ 50K</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
                            data-wow-delay=".1s">
                            <div class="banner-icon">
                                <img src="~/imgs/theme/icons/icon-2.svg" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Giao hàng miễn phí</h3>
                                <p>Dịch vụ tận tâm 24/7</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
                            data-wow-delay=".2s">
                            <div class="banner-icon">
                                <img src="~/imgs/theme/icons/icon-3.svg" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Ưu đãi mỗi ngày</h3>
                                <p>Khi bạn đăng ký tài khoản</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
                            data-wow-delay=".3s">
                            <div class="banner-icon">
                                <img src="~/imgs/theme/icons/icon-4.svg" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Sản phẩm đa dạng</h3>
                                <p>Giảm giá lên đến 50%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp"
                            data-wow-delay=".4s">
                            <div class="banner-icon">
                                <img src="~/imgs/theme/icons/icon-5.svg" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Đổi trả dễ dàng</h3>
                                <p>Trong vòng 30 ngày</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section thông tin -->
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col">
                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 wow animate__animated animate__fadeInUp"
                            data-wow-delay="0">
                            <div class="logo mb-30">
                                <a href="/" class="mb-15"><img src="~/imgs/theme/logo.png" alt="logo" /></a>
                                <p class="font-lg text-heading">Cửa hàng xanh kết hợp blog & sự kiện bảo vệ môi trường
                                </p>
                            </div>
                            <ul class="contact-infor">
                                <li><img src="~/imgs/theme/icons/icon-location.svg" alt="" /><strong>Địa chỉ:
                                    </strong><span>123 Đường Môi Trường Xanh, Quận 1, TP. HCM</span></li>
                                <li><img src="~/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Điện thoại:
                                    </strong><span>(+84) 909 123 456</span></li>
                                <li><img src="~/imgs/theme/icons/icon-email-2.svg" alt="" /><strong>Email:
                                    </strong><span>lienhe@greencorner.vn</span></li>
                                <li><img src="~/imgs/theme/icons/icon-clock.svg" alt="" /><strong>Giờ làm việc:
                                    </strong><span>08:00 - 20:00, Thứ 2 - Thứ 7</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                        <h4 class="widget-title">Về GreenCorner</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Điều khoản sử dụng</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Trung tâm hỗ trợ</a></li>
                        </ul>
                    </div>

                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                        <h4 class="widget-title">Tài khoản</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="#">Đăng nhập</a></li>
                            <li><a href="#">Giỏ hàng</a></li>
                            <li><a href="#">Danh sách yêu thích</a></li>
                            <li><a href="#">Theo dõi đơn hàng</a></li>
                            <li><a href="#">Lịch sử mua hàng</a></li>
                        </ul>
                    </div>

                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                        <h4 class="widget-title">Cộng đồng</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="#">Tham gia tình nguyện</a></li>
                            <li><a href="#">Sự kiện dọn rác</a></li>
                            <li><a href="#">Blog môi trường</a></li>
                            <li><a href="#">Chia sẻ câu chuyện</a></li>
                            <li><a href="#">Hướng dẫn phân loại rác</a></li>
                        </ul>
                    </div>

                    <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                        <h4 class="widget-title">Sản phẩm phổ biến</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="#">Túi sinh học</a></li>
                            <li><a href="#">Bàn chải tre</a></li>
                            <li><a href="#">Bình nước inox</a></li>
                            <li><a href="#">Thực phẩm hữu cơ</a></li>
                            <li><a href="#">Sản phẩm tái chế</a></li>
                            <li><a href="#">Đồ dùng không nhựa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer bottom -->
        <div class="container pb-30 wow animate__animated animate__fadeInUp" data-wow-delay="0">
            <div class="row align-items-center">
                <div class="col-12 mb-30">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <p class="font-sm mb-0">&copy; 2025, <strong class="text-brand">GreenCorner</strong> - Website vì
                        môi trường<br />Đã đăng ký bản quyền</p>
                </div>
                <div class="col-xl-4 col-lg-6 text-center d-none d-xl-block">
                    <div class="hotline d-lg-inline-flex mr-30">
                        <img src="~/imgs/theme/icons/phone-call.svg" alt="hotline" />
                        <p>1900 1234<span>08:00 AM - 22:00 PM</span></p>
                    </div>
                    <div class="hotline d-lg-inline-flex">
                        <img src="~/imgs/theme/icons/phone-call.svg" alt="hotline" />
                        <p>1900 5678<span>Hỗ trợ 24/7</span></p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
                    <div class="mobile-social-icon">
                        <h6>Kết nối với chúng tôi</h6>
                        <a href="#"><img src="~/imgs/theme/icons/icon-facebook-white.svg" alt="Facebook" /></a>
                        <a href="#"><img src="~/imgs/theme/icons/icon-twitter-white.svg" alt="Twitter" /></a>
                        <a href="#"><img src="~/imgs/theme/icons/icon-instagram-white.svg" alt="Instagram" /></a>
                        <a href="#"><img src="~/imgs/theme/icons/icon-youtube-white.svg" alt="YouTube" /></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="~/imgs/theme/loading.gif" alt="" />
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="~/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins/slick.js"></script>
    <script src="~/js/plugins/jquery.syotimer.min.js"></script>
    <script src="~/js/plugins/waypoints.js"></script>
    <script src="~/js/plugins/wow.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.js"></script>
    <script src="~/js/plugins/magnific-popup.js"></script>
    <script src="~/js/plugins/select2.min.js"></script>
    <script src="~/js/plugins/counterup.js"></script>
    <script src="~/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/js/plugins/images-loaded.js"></script>
    <script src="~/js/plugins/isotope.js"></script>
    <script src="~/js/plugins/scrollup.js"></script>
    <script src="~/js/plugins/jquery.vticker-min.js"></script>
    <script src="~/js/plugins/jquery.theia.sticky.js"></script>
    <script src="~/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="~/js/main.js?v=6.1"></script>
    <script src="~/js/shop.js?v=6.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/chatbot/chatbot.js"></script>
    <script src="~/js/search/search.js"></script>
    <script>
        $(document).ready(function () {
            const userId = '@User.FindFirst("sub")?.Value';
            if (!userId) return;

            const notificationList = $("#notificationList");
            const badge = $("#notificationCount");
            const listWrapper = $("#notificationListWrapper");
            const dropdownIcon = $("#notificationDropdown i");

            const notificationConnection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:7006/notificationhub?userId=" + userId)
                .build();

            function timeAgo(dateString) {
                const date = new Date(dateString);
                const now = new Date();
                const seconds = Math.round(Math.abs((now - date) / 1000));

                const intervals = {
                    năm: 31536000,
                    tháng: 2592000,
                    tuần: 604800,
                    ngày: 86400,
                    giờ: 3600,
                    phút: 60
                };

                let counter;
                for (const i in intervals) {
                    counter = Math.floor(seconds / intervals[i]);
                    if (counter > 0) {
                        if (counter === 1) {
                            return `${counter} ${i} trước`;
                        } else {
                            return `${counter} ${i} trước`;
                        }
                    }
                }
                return "vài giây trước";
            }

            function renderNotificationItem(noti) {
                let iconHtml = '<i class="fi fi-rs-info"></i>';
                if (noti.type === 'order_success') {
                    iconHtml = '<i class="fi fi-rs-check-circle" style="color: green;"></i>';
                } else if (noti.type === 'promotion') {
                    iconHtml = '<i class="fi fi-rs-gift" style="color: orange;"></i>';
                }

                const isUnread = noti.isRead === false ? '<div class="unread-dot"></div>' : '';

                const url = noti.url || '#';

                return `
                    <li class="notification-item">
                        <a href="${url}">
                            <div class="icon-wrapper">${iconHtml}</div>
                            <div class="content-wrapper">
                                <strong>${noti.title}</strong>
                                <span>${noti.message}</span>
                                <small>${timeAgo(noti.createdAt)}</small>
                            </div>
                            ${isUnread}
                        </a>
                    </li>`;
            }

            function updateUnreadCount(count) {
                if (count > 0) {
                    badge.text(count).show();
                } else {
                    badge.hide();
                }
            }

            notificationConnection.on("ReceiveNotification", function (noti) {
                const placeholder = notificationList.find(".notification-placeholder");
                if (placeholder.length) {
                    placeholder.remove();
                }

                notificationList.prepend(renderNotificationItem(noti));

                let currentCount = parseInt(badge.text()) || 0;
                updateUnreadCount(currentCount + 1);

                dropdownIcon.addClass("text-warning animate__animated animate__tada");
                setTimeout(() => dropdownIcon.removeClass("text-warning animate__animated animate__tada"), 1500);
            });

            async function startNotificationConnection() {
                try {
                    await notificationConnection.start();
                    console.log("SignalR Connected.");
                    loadInitialNotifications();
                } catch (err) {
                    console.error("SignalR Connection Failed: ", err);
                    setTimeout(startNotificationConnection, 5000);
                }
            }

            function loadInitialNotifications() {
                notificationList.html('<li class="notification-placeholder">Đang tải...</li>');

                $.get(`https://localhost:7006/api/notifications/user/${userId}`, function (data) {
                    if (data.isSuccess && data.result.length > 0) {
                        notificationList.empty();
                        data.result.forEach(noti => {
                            notificationList.append(renderNotificationItem(noti));
                        });

                        const unreadCount = data.result.filter(n => n.isRead === false).length;
                        updateUnreadCount(unreadCount);

                    } else {
                        notificationList.html('<li class="notification-placeholder">Không có thông báo nào.</li>');
                        updateUnreadCount(0);
                    }
                }).fail(function () {
                    notificationList.html('<li class="notification-placeholder">Không thể tải thông báo.</li>');
                });
            }

            startNotificationConnection();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
