@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model VoucherDTO

@{
    ViewData["Title"] = "Cập nhật Voucher";
}

<section class="content-main">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="VoucherId" />

        <div class="row">
            <div class="col-12">
                <div class="content-header mb-4">
                    <h2 class="content-title">@ViewData["Title"]</h2>
                </div>
            </div>

            <!-- Phần trái -->
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- Title -->
                        <div class="mb-4">
                            <label asp-for="Title" class="form-label">Tiêu đề voucher</label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label asp-for="Code" class="form-label">Mã Khuyến Mãi</label>
                            <input asp-for="Code" class="form-control text-uppercase" type="text" style="text-transform: uppercase;" oninput="this.value = this.value.toUpperCase()" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>

                        <!-- Description -->
                        <div class="mb-4">
                            <label asp-for="Description" class="form-label">Mô tả</label>
                            <textarea asp-for="Description" class="form-control" style="min-height: 150px;"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <!-- Points Required -->
                        <div class="mb-4">
                            <label asp-for="PointsRequired" class="form-label">Điểm yêu cầu</label>
                            <input asp-for="PointsRequired" class="form-control" type="number" min="0" />
                            <span asp-validation-for="PointsRequired" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label asp-for="StartDate" class="form-label">Ngày bắt đầu</label>
                            <input asp-for="StartDate" class="form-control" type="date" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>

                        <!-- Expiration Date -->
                        <div class="mb-4">
                            <label asp-for="ExpirationDate" class="form-label">Ngày hết hạn</label>
                            <input asp-for="ExpirationDate" class="form-control" type="date" />
                            <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                        </div>
                    </div>
                </div> 
            </div>
            <!-- Phần phải -->
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5>Thông tin hệ thống</h5>
                        <p class="text-muted mt-2">
                            Voucher sẽ được cập nhật và lưu lại. Nếu không chọn ảnh mới, ảnh cũ sẽ được giữ nguyên.
                        </p>
                        <div>
                            <button type="submit" class="btn btn-md rounded font-sm hover-up btn-success">Cập nhật</button>
                            <a asp-action="Index" class="btn btn-light rounded font-sm text-body hover-up ms-2">Hủy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


