<div class="page-content pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 col-md-12 m-auto text-center">
                <p class="mb-20"><img src="~/imgs/page/page-404.png" alt="" class="hover-up" /></p>
                <h1 class="display-2 mb-30">Không có quyền truy cập</h1>
                <p class="font-lg text-grey-700 mb-30">
                    Bạn không có quyền để truy cập vào trang này.<br />
                    Vui lòng <a href="/Auth/Login"> <span>đăng nhập</span></a> với tài khoản có quyền, hoặc <a href="/Home"><span>về trang chủ</span></a>.
                </p>
                <a class="btn btn-default submit-auto-width font-xs hover-up mt-30" href="/Home"><i class="fi-rs-home mr-5"></i> Về trang chủ</a>
            </div>
        </div>
    </div>
</div>