@model StaffDTO
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form asp-controller="Auth" asp-action="CreateStaff" method="post" enctype="multipart/form-data">

    <input hidden asp-for="ID" />
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Create Staff</h2>
                    <div>
                        <button class="btn btn-light rounded font-sm mr-5 text-body hover-up"><a asp-controller="Auth" asp-action="GetStaffList">Back to List</a></button>
                        <button type="submit" class="btn btn-md rounded font-sm hover-up">Create</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">FullName</label>
                                <input required type="text" placeholder="Type here" class="form-control" asp-validation-for="FullName" asp-for="FullName" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Email</label>
                                <input required type="text" placeholder="Type here" class="form-control" asp-validation-for="Email" asp-for="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Address</label>
                                <textarea required asp-validation-for="Address" asp-for="Address" placeholder="Type here" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Phone Number</label>
                                        <div class="row gx-2">
                                            <input required asp-validation-for="PhoneNumber" asp-for="PhoneNumber" type="text" class="form-control" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Password</label>
                                        <input  required asp-validation-for="Password" asp-for="Password" type="password" placeholder="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label">Role:</label>
                                    <select class="form-select" name="Role" asp-for="Role">
                                        <option>Event Staff</option>
                                        <option>Sale Staff</option>
                                    </select>
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- card end// -->
            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Avatar</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-upload">
                            <img src="assets/imgs/theme/upload.svg" id="imagePreview" alt="" style="max-width: 300px;" />
                            <input required name="Avatar" type="file" id="Avatar" asp-for="Avatar" class="form-control" onchange="previewImage(this)" />
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
       
</form>
        

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function previewImage(input) {
            const preview = document.getElementById('imagePreview');
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}

