@model ForgotPasswordRequestDTO

<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="/Home" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
            <span></span> Quên mật khẩu
        </div>
    </div>
</div>
<div class="page-content pt-30 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-12 m-auto">
                <div class="row">
                    <div class="heading_s1">
                        <img class="border-radius-15" src="~/imgs/page/reset_password.svg" alt="" />
                        <h2 class="mb-15 mt-15">Tạo mật khẩu mới</h2>
                        <p class="mb-30">Vui lòng tạo một mật khẩu mới</p>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="login_wrap widget-taber-content background-white">
                            <div class="padding_eight_all bg-white">
                                <form asp-action="ForgotPassword" method="post">
                                    <input type="hidden" asp-for="UserId" />
                                    <input type="hidden" asp-for="Token" />
                                    <div class="form-group">
                                        <input asp-for="Password" type="password" placeholder="Mật khẩu mới *" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ConfirmPassword" type="password"
                                            placeholder="Xác nhận mật khẩu *" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-heading btn-block hover-up"
                                            name="login">Đặt lại mật khẩu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pl-50">
                        <h6 class="mb-15">Mật khẩu mới phải:</h6>
                        <p>Dài từ 8 ký tự</p>
                        <p>Chứa tất cả các yêu cầu sau:</p>
                        <ol class="list-insider">
                            <li>Chữ cái viết hoa</li>
                            <li>Chữ cái viết thường</li>
                            <li>Số</li>
                            <li>Ký tự đặc biệt</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
