@model StaffDTO
@{
    ViewData["Title"] = "Quản lí nhân viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
            <form asp-controller="Auth" asp-action="UpdateStaff" enctype="multipart/form-data">
        <input hidden asp-for="ID" />
        <input hidden asp-for="Email" />
        <input hidden asp-for="Password" />
        <input hidden asp-for="Role" />
    <section class="content-main">
        <div class="row">
            <div class="col-12">
                <div class="content-header">
                    <h2 class="content-title">Cập nhận thông tin sự kiện</h2>
                    <div>
                        <button class="btn btn-light rounded font-sm mr-5 text-body hover-up"><a asp-controller="Auth" asp-action="GetStaffList">Quay lại danh sách</a></button>
                        <button type="submit" class="btn btn-md rounded font-sm hover-up">Cập nhật</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Họ và Tên</label>
                                <input required type="text" placeholder="Type here" class="form-control" asp-validation-for="FullName" asp-for="FullName" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Địa chỉ</label>
                                <textarea required asp-validation-for="Address" asp-for="Address" placeholder="Type here" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Số điện thoại</label>
                                        <div class="row gx-2">
                                            <input required asp-validation-for="PhoneNumber" asp-for="PhoneNumber" type="text" class="form-control" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- card end// -->
            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Ảnh đại diện</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-upload">
                            <img src="~/admin/imgs/avatar-staff/@Model.Avatar" id="imagePreview" alt="" style="max-width: 300px;" />
                            <input required name="Avatar" type="file" id="Avatar" asp-for="Avatar" class="form-control" onchange="previewImage(this)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     
</form>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    </script>
}
<script>
    function previewImage(input) {
        const preview = document.getElementById('imagePreview');
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
}
