
@{
    ViewData["Title"] = "Kết quả thanh toán";
}

<div class="container mt-5">

    <h2 class="text-success">Cảm ơn bạn đã thanh toán. Đơn hàng của bạn đang được xử lý.</h2>
    <a href="/" class="btn btn-primary mt-3">Quay về trang chủ</a>
</div>
