@model List<UserDTO>
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">User List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<table class="table">
			<thead>
				<tr>
					<th>
						Full Name
					</th>
					<th>
						Email
					</th>
					<th>
						Status
					</th>
					<th>
						Action
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.FullName
						</td>
						<td>
							@item.Email
						</td>
						<td>
							@if (!item.IsBan)
							{
								<span class="text-primary" >Active</span>
							}
							else
							{
								<span class="text-danger">Banned</span>
							}
						</td>
						<td>
							@if (!item.IsBan)
							{
								<a class="btn btn-danger" asp-controller="Admin" asp-action="BlockUser" asp-route-userId="@item.ID">
									<i class="bi bi-lock"></i>
								</a>
							}
							else
							{
								<a class="btn btn-primary" asp-action="UnblockUser" asp-controller="Admin" asp-route-userId="@item.ID">
									<i class="bi bi-unlock"></i>
								</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>