@model TrashEventDTO

@{
    ViewData["Title"] = "Báo cáo điểm rác thải mới";
}

<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
            <span></span> Báo cáo điểm rác
        </div>
    </div>
</div>
<div class="container mb-80 mt-50">
    <div class="row">
        <div class="col-lg-8 mb-40">
            <h1 class="heading-2 mb-10">Báo cáo điểm rác thải mới </h1>
            <div class="d-flex justify-content-between">
                <h6 class="text-body">Bạn có thể lấy vị trí tự động hoặc kéo thả ghim tới đúng nơi có rác thải.</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <h4 class="mb-30">Thông tin chi tiết</h4>
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="mb-10">
                            <h6>Tọa độ</h6>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" type="text" id="locationInput" readonly asp-for="Location"
                                   class="form-control" placeholder="Tọa độ sẽ hiện ở đây...">
                            <button class="btn btn-success w-100 mt-2" type="button" onclick="getLocation()">
                                <i class="bi bi-cursor-fill"></i> Lấy vị trí của bạn
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-10">
                            <h6>Địa chỉ</h6>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" asp-for="Address" class="form-control"
                                   placeholder="Vd: 123 Nguyễn Văn Linh, Ninh Kiều, Cần Thơ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-10">
                            <h6>Hình ảnh</h6>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="file" name="images" multiple class="form-control"
                                   style="height:auto;padding-left:5px;" />
                            <span class="text-danger">@Html.ValidationMessage("Images")</span>
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <div class="mb-10">
                            <h6>Mô tả</h6>
                        </div>
                        <textarea rows="5" asp-for="Description" placeholder="Mô tả"></textarea>
                    </div>
                    <div class="payment ml-30">
                        <button type="submit" class="btn btn-fill-out btn-block mt-20 float-end">
                            Gửi báo cáor<i class="fi-rs-sign-out ml-15"></i></button>>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <h4 class="mb-30"><i class="bi bi-geo-alt-fill"></i> Chọn vị trí trên bản đồ</h4>

            <div class="btn-group w-100 mb-2" role="group">
                <button type="button" class="btn btn-primary" id="btnMap" onclick="showTab('map')">
                    <i class="bi bi-map-fill"></i> Bản đồ
                </button>
                <button type="button" class="btn btn-outline-secondary" id="btnStreet"
                        onclick="showTab('street')">
                    <i class="bi bi-signpost-split-fill"></i> Chế độ xem
                    phố
                </button>
            </div>

            <div id="mapContainer" style="height: 550px; display: block;" class="border rounded"></div>
            <div id="streetContainer" style="height: 550px; display: none; filter: invert(100%);" class="border rounded"></div>

            <div id="locationStatus" class="alert" role="alert">
                Nhấn nút "Lấy vị trí của bạn" để bắt đầu!
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiGqAY3IagwecyXc4-etRoWJHzV7LyfFU&libraries=places"></script>
    <script src="~/js/map/map.js"></script>
}