@model EventDTO

<form asp-controller="Event" asp-action="UpdateCleanupEvent" enctype="multipart/form-data">
    <br />
    <div class="container border p-3">
        <h1 class="text-dark text-center">Edit Event Review</h1>
        <input hidden asp-for="CleanEventId" />
        <input hidden asp-for="CreatedAt" />
        <input hidden asp-for="EndDate" />
        <input hidden asp-for="Title" />
        <input hidden asp-for="Description" />
        <input hidden asp-for="StartDate" />
        <input hidden asp-for="MaxParticipants" />
        <hr />
        <div class="row">
           
           
           
            <div class="col-2">
                    <label class="control-label pt-2" style="font-size:20px;">Status</label>
            </div>
            <div class="col-10 pb-3">
                <select name="Status" asp-for="Status">
                    <option value="Open">Close</option>
                    <option value="Close">Close</option>
                </select>
            </div>
            <div class="col-5 offset-2">

                <a asp-controller="Event" asp-action="Index" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control" />

            </div>
        </div>
        <div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}